/* css page Home */
  h2{
    font-size: 80px;
    color: #faf8f8;
    font-family: 'Title';
    
  }
  h3{
    font-size: 50px;
    color: #f0e9e9;
    font-family: 'Slogan';
    font-weight: 100;
    border-bottom: var(--red) solid 1px;
    
  }
  
  .ph{
    color: #faf8f8;
    text-align: center;
  }

  .section1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    
  }
  .section2{
    display: flex;
    justify-content: space-evenly ;
    border: lightyellow solid 1px;
    background-color: rgb(15, 15, 15);
   
    
  }


  .div1{
    width: 30%;;
    display: flex;
    flex-direction: column;
    margin: left 10px;;
    gap: 10px;
  }
  section{
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:30px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-end;
    
  }
  
  .homecont{
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
  }
 
  .discover{
   width: 100px;
   font-size: 20px;
   margin: auto;
  
  }
  a{
    text-decoration: none;

  }