/* CSS booking.php */

  .bookings-container {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
  }
   .bookings-container ul {
    list-style: none;
   }
  
   .booking-container li, .booking-container h4 {
    margin: 2px;
    padding: 2px;
   }
  
  .bookings-container h2, .booking-container h3 {
    text-decoration: underline;
    margin: 5px;
  }
  
  .booking-container {
    width: 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .booking-infos{
    background-color: rgb(29, 29, 29, 0.70);
    border: solid whitesmoke 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(253, 252, 252);
    display: flex;
    flex-direction: column;
  }
  
  .status-open {
    color: greenyellow;
  }
  
  .status-closed {
    color: red;
  }
  
  .separator {
    border: solid whitesmoke 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 5px rgb(253, 252, 252);
  }
  