
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
background-image: url(merco.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 100vh;
font-family: 'Arial', sans-serif;
background-color: #ccc;
width: 100% ;
height: 100vh;
display: flex;
flex-direction: column;
}


header {
background-color: black;
color: white;
padding: 0% 3% 2% 3%;
}

.footer {
  padding-top: 10px;
  gap: 20px;
  background-color: #000000;
  display: flex;
  flex-direction: column; 
  align-items:center;
  color: #ffffff;
  font-size: 20px;
}

.main-content {
  flex: 1;
}

.header-container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
padding: 0% 3%;
}

.logo img {
height: 50px;
width: auto;
}

.header-content {
flex-grow: 1;
text-align: center;
}

.header-content h1 {
font-size: 24px;
color: white;
margin: 3% 1%;
}

.nav ul {
display: flex;
justify-content: center;
list-style: none;
gap: 5%;
}

.nav a {
color: white;
text-decoration: none;
font-size: 16px;
font-weight: bold;
transition: color 0.3s ease;
}

.nav a:hover {
border-bottom: #ccc solid 1px;
padding: 5px;
}


.buttonResa {
  text-align: right;
}

.buttonResa button {
background-color: transparent;
border: white solid 1px;
padding: 2% 8%;
font-size: 16px;
cursor: pointer;
border-radius: 4px;

}

.buttonResa button:hover {
    padding: 3% 9%;
    border: #ccc double 4px;
    transition: transform .3s; 
    
}

.buttonResa button a {
color: white;
text-decoration: none;
}

.login-bg {
  background-image: url("login.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  width: 400px;
  height: 500px;
  background-color: rgba(29, 29, 29, 0.90);
  border: solid #1d1d1d 2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:  center;
}

.login-content h1{
  color: whitesmoke;
  font-size: 35px;
  text-decoration: underline;
}

.login-content h2 {
  color: whitesmoke;
  font-size: 28px;
  text-decoration: underline;
}

.login-content p  {
  color: greenyellow;
}

.login-form {
  border: solid red 1px;
  border-radius: 5px;
  width: 80%;
  height: 45%;
  color: whitesmoke;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login-form input {
  width: 55%;
  border-radius: 6px;
  padding: 3px;
  border: 0;
}

.login-form button {
  border: 0;
  width: 55%;
  background-color: rgba(255, 9, 9, 0.50);
  border-radius: 6px;
  padding: 3px;
  margin-bottom: 5px;
}

.login-form button:hover {
  background-color: rgba(255, 9, 9, 1);
  cursor: pointer;
}

.search-container {
  background-color: #000000;
  margin-top: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.search-container input, .search-container select, .search-container button {
  margin: 5px;
  padding: 5px;
  border: 0;
  border-radius: 3px;
}

.search-container button {
  color: whitesmoke;
  background-color: #000000;
  border: solid whitesmoke 1px ;
}

.search-container button:hover {
  border: #ffffff double 4px;
  transition: transform .3s; 
  cursor: pointer;
}

.cars-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cars-title {
  color: whitesmoke;
  text-align: center;
  text-decoration: underline;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousels-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel-container {
  background-color: rgba(29, 29, 29, 0.3);
  border-radius: 5px;
  margin: 5px;
  color: whitesmoke;
  flex: 0 0 600px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border:solid whitesmoke 2px;
}

.carousel-container img {
  width: 95%;
  margin: 2px;
}

.car-container img {
  width: 95%;
  margin: 2px;
}

.cars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000000;
}

.car-container {
  width: 426px;
  background-color: rgba(29, 29, 29, 0.3);
  border-radius: 5px;
  margin: 5px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border:solid whitesmoke 2px;
  box-shadow: 3px 3px 5px rgb(253, 252, 252);
}

.reserve-button {
  width: 100%;
  text-decoration: none;
  border: solid white 1px;
  color: whitesmoke;
  background-color: black;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.reserve-button:hover {
  border: #ffffff double 4px;
  transition: transform .3s; 
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}


::-webkit-scrollbar {
  height: 15px;
  background-color: #080707;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.contact-info, .contact-section {
  color: whitesmoke;
}

/* Media Queries pour la Responsivité */

/* Smartphone Portrait */
@media screen and (max-width: 600px) {
    .header-container {
      flex-direction: column;
      padding: 5%;
    }
  
    .logo img {
      height: 40px;
    }
  
    .header-content h1 {
      font-size: 18px;
      margin: 2% 0;
    }
  
    .nav ul {
      flex-direction: column;
      gap: 2%;
      padding: 0;
      margin-top: 20px;
    }
  
    .nav a {
      font-size: 14px;
    }
  
    .buttonResa {
      text-align: center;
      margin-top: 15px;
    }
  
    .buttonResa button {
      padding: 10px 30px;
      font-size: 14px;
    }
  
    .buttonResa button:hover {
      padding: 12px 35px;
    }

    .carousel-container {
      flex-basis: 380px;
    }

    .search-container {
      flex-direction: column;
    }

  }
  /* Tablettes (portrait et paysage) */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      padding: 1%;
    }
  
    .logo img {
      height: 45px;
    }
  
    .header-content h1 {
      font-size: 20px;
      margin: 3%;
    }
  
    .nav a {
      font-size: 12px;
      margin-bottom: 3%;
    }
  
    .buttonResa button {
      margin-top: 5%;
      padding: 2% 5%;
      font-size: 16px;
    }
  }
  
  @media (max-width: 1024px) {
    .header-container{
      padding: 1%;
    }
  }

/* css page Home */
h3{
  color: #f0e9e9;
  font-family: 'Times New Roman', Times, serif;
}

.ph{
  color: #faf8f8;
}

section{
  margin-left: 50px;
  margin-right: 50px;
  margin-top:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.homecont{
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}

/*  css page FAQ */


.faq-container {
  max-width: 800px;
  opacity:50%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.faq-item {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  padding: 15px;
  background-color: #e9e9e9;
  border-radius: 5px;
  transition: background-color 0.3s ease;
 
}
/* Animation de clignotement léger et permanent */
@keyframes light-blink {
  0% {
      background-color: #e9e9e9;  /* couleur d'origine */
  }
  50% {
      background-color: #5f677f; /* couleur  plus foncée */
  }
  100% {
      background-color: #e9e9e9;  /* retour à la couleur d'origine */
  }
}

.faq-item{  animation: light-blink 3s infinite;  /* Clignote légèrement en continu (toutes les 3 secondes) */
}

.faq-item:hover {
  background-color: #1e1e1e;
  color: #fff;
}

.faq-item .answer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #333;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;
}

.faq-item:hover .answer {
  opacity: 1;
  font-size:  30px;;
  visibility: visible;
}

.faq-item:hover {
  background-color: #333;
  color: white;
}

.question {
  font-size: 18px;
  font-weight: bold;
}


/* styles pages Conditions */
body.conditions-page {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Style du conteneur principal des conditions générales */
.conditions-container {
  opacity: 40%;
  width: 80%;               /* Largeur du conteneur */
  max-width: 1200px;        /* Largeur maximale pour les grands écrans */
  height: 50vh;             /* Hauteur du conteneur relative à la fenêtre */
  margin: 0 auto;           /* Centrer le conteneur */
  overflow-y: auto;         /* Scroll vertical si le contenu dépasse */
  padding: 20px;
  background-color: #faf2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;   /* Inclut le padding dans la hauteur et la largeur */
}

/* Style du titre principal */
.conditions-title {
  text-align: center;
  font-size: 2.5em;
  color: #291a62;
  margin-bottom: 20px;
}

/* Style pour chaque section */
.conditions-section {
  margin-bottom: 40px;
}

/* Titres des sections */
.section-title {
  font-size: 1.5em;
  color: #0f375a;
  margin-top: 30px;
  margin-bottom: 15px;
}

/* Style des paragraphes */
.conditions-text {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 10px;
}

.highlight-text {
  color: #901a1a;
  font-weight: bold;
}

