/*  css page FAQ */
h2{
  text-align: center;
  font-family: 'Slogan';
  font-weight: 100;
  font-size: 3rem;
  color: white;
}

.faq-content {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}
  
.faq-item {
  background-color: rgb(0, 0, 0, 0.644);
  border: var(--red) solid 1px;
  border-radius: 10px;
  margin: 0% 4%;
  padding: 2% 4%;
}

h3{
  font-size: 22px;
  margin-bottom: 2%;
  border-bottom: whitesmoke solid 1px;
}

.faq-item a{
  text-decoration: underline;
  color: white;
}
.answer{
  font-size: 20px;
}




