/* css page Home */

 
  h2{
    font-size: 80px;
    color: #faf8f8;
    font-family: 'Title';
    font-weight: 50px;
    text-shadow: var(--red) 2px 5px;
    text-transform: uppercase;
  }

  
  h3{
    margin-top: 10px;
    font-size: 50px;
    color: #f0e9e9;
    font-family: 'Slogan';
    font-weight: 100;
    border-bottom: var(--red) solid 1px;
    
  }
  
  .ph{
    color: white;
    text-align:left;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .section1_container{
    height: 60%;
  }
 

  .section1{
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 2%;
  }
  .section2{
    display: flex;
    justify-content: space-around;
    border: white solid 1px;
    background-color: rgb(15, 15, 15);
    opacity: 70%;
    min-height: 300px;
    margin-bottom: 30%;
  }

  .section2:last-of-type{
    margin-bottom: 30px;
  }


  .div1{
    width: 30%;;
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 2%;
  }
  
  .homecont{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:2%;
    padding: 3%;
    
    
  }

  .butt{
    display: flex;
    justify-content: center;
  }
 
  .discover{
    border: white solid 1px;
    border-radius: 4px ;
    background-color: black;
    font-size: 20px;
    padding: 2% 8%;
  
  }

  a{
    text-decoration: none;

  }
  
  .discover:hover{
    background-color: var(--red);
    border: var(--red) solid 1px;
  }

  @media screen and (max-width : 1280px){
    .div1{
      width: 100%;;
      display: flex;
      flex-direction: column;
      gap: 10%;
      padding: 2%;
    }
    
  
    h2{
     font-size: 70px;
     color: #faf8f8;
     font-family: 'Title';
     font-weight: 70;
     text-shadow: var(--red) 2px 5px;
     text-transform: uppercase;
    }
   
   .section1_container {
     width: 90%;
     height:100vh;
     margin: auto;
    }
    .section1{
     width: 100%;
     height: 100%;
     align-items: row;
    }

    .ph{
     font-size: 20px;
    }
    .section2{
      display: flex;
      flex-direction: row;
      border: rgb(248, 250, 250) solid 2px;
      overflow-y:scroll;
      scroll-snap-type: y mandatory;
      margin-bottom: 20px;
      
    }

    

    .homecont{
     flex: 0 0 100%;
     scroll-snap-align: start;
     width: 100vh;
     height: 100% ;
     box-sizing: border-box;
    }
    .homecont::-webkit-scrollbar-thumb
    {
      background-color: #f0e9e9;
      border-radius: 10px;
    }


    h3{font-size: 25px;
    color: #f0e9e9;
    font-family: 'Slogan';
    font-weight: 100;
    border-bottom: var(--red) solid 1px;
    }

 } 