/* CSS booking.php */

  .bookings-container {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
  }
   .bookings-container ul {
    font-size: 20px;
    list-style: none;
   }
  
   .booking-container li{
    margin: 2px;
    padding: 2px;
   }
  
  .booking-container h2 {
    text-align: center;
    font-family: 'Slogan';
    font-size: 3rem;
    font-weight: 100;
    border-bottom: var(--red) solid 1px;
    margin-bottom: 2%;
  }

  .booking-container h3 {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
  }
  
  .booking-container h4{
    font-size: 20px;
    margin: 2px;
    padding: 2px;
  }
  .booking-container {
    width: 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .booking-infos{
    background-color: rgb(29, 29, 29, 0.70);
    border: solid whitesmoke 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(253, 252, 252);
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
  }
  
  .status-open {
    color: greenyellow;
  }
  
  .status-closed {
    color: var(--red);
  }
  
  .separator {
    border: solid var(--red) 2px;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 5px var(--red);
  }
  